@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Quicksand', sans-serif;
    color: #000000;
    font-size: 20px;
}


:root {
    --cor-principal: #008BF8;
    --cor-secundaria: #b15d18;
    --cor-cinza: rgb(132, 145, 140);
    --cor-terciaria: #000000;
    --cor-fundo: #f7f7f7;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

#menuzin {
    height: 10vh;
    width: 100%;
    background-color: #FFC300;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuzin ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

#menuzin ul li {
    margin: 0 40px;
}

#menuzin ul li a {
    color: #000000;
    text-decoration: none;
}

#menuzin.rolagem a {
    color: #000000;
}

.h1 {
    text-align: center;
}

#body {
    margin-top: 3cm;
    margin-left: 3cm;
    margin-bottom: 5cm;
    margin-right: 5cm;
    font-family: 'Times New Roman', Arial, serif;
    background-color: #ffffff
}

.p {
    font-size: 125%;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

.title {
    font-size: 5vw;
    margin-bottom: 5px;
    text-align: center;
    text-align: center;
}


.autor {
    margin-bottom: 10px;
}

.textos {
    text-align: justify;
}

.subtitle {
    font-size: 1.5vw;
    margin-bottom: 30px;
}

.texto1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title2 {
    margin-bottom: 30px;
    font-size: 4vw;
    text-align: center;
}

.title3 {
    font-size: 3vw;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.imagenconteudo {
    width: 600px;
    margin-left: 4%;
    margin-top: 10px;
}

.linha-horizontal {
    border-top: 2px solid var(--cor-cinza);
    width: 100%;
    margin-right: 75px;
}

.divisoria {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.divisoria h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin-left: 90px;
    margin-right: 15px;
}

#mais  {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

#mais >div {
    flex: 1 1 400px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#mais  h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

#mais  a {
    text-decoration: none;
}

.imagens-main {
    border-radius: 5px;
    width: 360px;
    height: 200px;
    display: block;
    box-shadow: 2px 2px 3px var(--cor-terciaria);
}

#mais  p {
    font-family: 'Quicksand', sans-serif;
    max-width: 360px;
}

.zoom:hover img {
    transform: scale(1.1);
    transform-origin: center;
}

.zoom img {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.onda {
    width: 100%;
    height: 100%;
    bottom: -1vh;
}

#referencias {
    margin-top: 20px;
    margin-bottom: 20px;
}