@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  color: #000;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

#cabeçalho {
  position:sticky;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left, rgb(12, 138, 65), #0c60af, #03356bef, #011430, rgb(14, 1, 26));
  background-size: 300% 100%;
  animation: degrade 5s infinite alternate;
  z-index: -1;
}

@keyframes degrade {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 100%;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem 6rem;
  position: fixed;
  transition: 0.5s;
  z-index: 1;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.nav-list ul a {
  text-decoration: none;
}

.nav-item {
  margin: 0 15px;
}


.mobile-botao {
  display: none;
}

.mobile-menu {
  display: none;
  text-decoration: none;
}

.mobile-menu ul li a {
  text-decoration: none;
}

.icon {
  width: 30px;
}



#nav-bar.rolagem {
  width: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

#nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#nav-bar ul li {
  margin: 0 40px;
}

#nav-bar ul li a {
  color: #fff;
  text-decoration: none;
}

#nav-bar.rolagem a {
  color: #FE775A;
}

#titulo {
  position: absolute;
  left: 5%;
  top: 25%;
  color: white;
  font-size: 6rem;

}

#introduçao {
  position: absolute;
  top: 50%;
  left: 5%;
  color: white;
  text-align: justify;
  font-weight: lighter;
  font-size: 20px;
  margin-right: 50vw;
}

.obj {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  background-color: #FFC300;
}

#escola {
  position: absolute;
  width: 30vw;
  height: 60vh;
  right: 9%;
  top: 20%;
}

#parte {
  width: 100%;
  height: 80%;
  background-color: #FFC300;
}

#flexparte {
  display: flex;
  align-items: center;
  text-align: justify;
}

#imagem1 {
  width: 40vw;
  height: 80vh;
}

#titulo2 {
  font-size: 4rem;
  font-weight: lighter;
  color: white;
  margin-bottom: 150px;
}

#texto2 {
  font-weight: lighter;
  color: white;
  font-size: 30px;
  margin-right: 5vw;
}

#conteudo {
  height: 150%;
  width: 100%;
  background-color: #00095a;
  color: white;
}

.title3 {
  height: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#titulo3 {
  font-weight: lighter;
  font-size: 4rem;
  color: #fff;
}

.assunto {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.assunto>li div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#ConceitosdeLínguaeLinguagem {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border-radius: 20px;
}

#ConceitosdeLínguaeLinguagem:hover {
  background-color: rgb(54, 63, 143);
  transition: 0.2s;
}

#figurasdelinguagem {
  height: 400px;
  width: 300px;
  border-radius: 20px;
}

#figurasdelinguagem:hover {
  background-color: rgb(54, 63, 143);
  transition: 0.2s;
}

#Sintaxe {
  height: 400px;
  width: 300px;
  border-radius: 20px;
}

#Sintaxe:hover {
  background-color: rgb(54, 63, 143);
  transition: 0.2s;
}

#TextoLiterárioenãoLiterário {
  height: 400px;
  width: 300px;
  border-radius: 20px;
}

#TextoLiterárioenãoLiterário:hover {
  background-color: rgb(54, 63, 143);
  transition: 0.2s;
}

#VariaçãoLinguística {
  height: 400px;
  width: 300px;
  border-radius: 20px;
}

#VariaçãoLinguística:hover {
  background-color: rgb(54, 63, 143);
  transition: 0.2s;
}

#Sambaqui {
  height: 400px;
  width: 300px;
  border-radius: 20px;
}

#Sambaqui:hover {
  background-color: rgb(54, 63, 143);
  transition: 0.2s;
}

#imagem2 {
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
}

#conceitos {
  font-weight: lighter;
  color: #fff;
}

#figuras {
  font-weight: lighter;
  color: #fff;
}


#sin {
  font-weight: lighter;
  color: #fff;
}


#texto-literario {
  font-weight: lighter;
  color: #fff;
}

#imagem6 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#variaçao {
  font-weight: lighter;
  color: #fff;
}

#Sam {
  font-weight: lighter;
  color: #fff;
}

#crias {
  font-weight: lighter;
  font-size: 3rem;
}

#crias {
  display: flex;
  position: absolute;
  justify-content: space-around;
  left: 44%;
  top: 85%;
  color: #fff;
}

.foto {
  width: 20vw;
  border-radius: 50%;
  margin: 0 auto;
}

#rodape {
  display: flex;
  color: white;
  background-color: #00095a;
}

.titulocriadores {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.titulocriadores h1 {
  font-size: 60px;
  color: white;
}

.usuarios-div {
  height: 400px;
  width: 300px;
  border-radius: 20px;
}

.nome {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 5vh;
  color: #fff;
}

.usuarios-div:hover {
  background-color: rgb(40, 39, 87);
  transition: 0.2s;
}

.todos-usuarios {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10vh auto;
  width: 100%;
  height: 100%;

}

li {
  list-style-type: none;
}

.onda {
  width: 100%;
  height: 100%;
  bottom: 0%;

}

@media screen and (max-width : 2065px) {
  #conteudo {
    height: 60%;
  }
}

@media screen and (max-width : 1800px) {
  #conteudo {
    height: 80%;
  }
}

@media screen and (max-width : 1220px) {
  #conteudo {
    height: 100%;
  }

}



@media screen and (max-width : 916px) {
  #conteudo {
    height: 110%;
  }

  #rodape{
    height: 100%;
  }
}

@media screen and (max-width : 800px) {
  #nav-bar {
    padding: 1.5rem 4rem;
    flex-direction: column-reverse;
  }

  .mobile-menu ul li{
    margin-inline-start: 1;
    margin-top: 30px;
  }

  header div ul {
    position: fixed;
    background-color: #fff;
    width: 100%;
  }

  #nav-bar.rolagem {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-start;

  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

 

  .mobile-botao {
    display: block;
  }

  .mobile-botao button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu ul li a{
    z-index: 3;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }

  #escola {
    display: none;
  }

  #introduçao {
    margin-right: 10vw;
  }

  #imagem1 {
    display: none;
  }

  #parte {
    display: block;
  }

  #texto2 {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 15vh;
    font-size: 20px;
  }

  #titulo2 {
    font-size: 45px;
  }

  #imagem2 {
    width: 20vw;
    height: 20vh;
    border-radius: 50%;
  }
}

@media screen and (max-width : 617px) {
  #titulo3 {
    font-size: 45px;
  }

  #conteudo {
    height: 220%;
  }

  .titulocriadores h1 {
    font-size: 40px;
  }

  #rodape{
    height: 150%;
  }

}

@media screen and (max-width : 500px) {
  #imagem2 {
    width: 30vw;
    height: 20vh;
    border-radius: 50%;
  }
}

@media screen and (max-width : 406px) {
  #titulo3 {
    font-size: 30px;
  }
}

@media screen and (max-width : 317px) {
  .usuarios-div {
    width: 200px;
  }

  #sambaqui {
    width: 200px;
  }

  #VariaçãoLinguística {
    width: 200px;
  }

  #TextoLiterárioenãoLiterário {
    width: 200px;
  }

  #Sintaxe {
    width: 200px;
  }

  #figurasdelinguagem {
    width: 200px;
  }

  #ConceitosdeLínguaeLinguagem {
    width: 200px;
  }
}